/*
 * Colors
 */
.card {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 208px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}
.card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.card .card-sides .card-side.front {
  background-size: auto 600%;
  background-image: url("img/cards.jpg");
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  background-size: auto 100%;
  background-image: url("img/card-back.jpg");
  transform: rotateY(180deg);
}
.card.selectable:not(.disabled) {
  cursor: pointer;
}
.card.selectable:not(.disabled):not(.selected) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.card.selectable:not(.disabled) .card-side {
  box-shadow: unset;
}
.card.selected:not(.disabled) {
  box-shadow: 0 0 5px 8px orange;
}
.card.selected:not(.disabled) .card-side {
  box-shadow: unset;
}
.card[data-category="1"] .front {
  background-position-x: 0%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="1"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="1"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="1"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="1"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="1"] .front {
  background-position-x: 100%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="2"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="1"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="4"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="5"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="1"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="2"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="3"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="4"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="8"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="5"][data-color="1"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="2"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="3"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="5"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="6"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="5"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="6"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="7"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="6"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="8"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="9"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="4"][data-color="9"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="4"][data-color="10"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="2"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="3"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="4"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 5px 3px #FFFFFF;
  }
}
#table-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #1f3067;
  padding: 5px;
  border-radius: 15px;
  background: rgba(31, 48, 103, 0.4);
  min-width: 505px;
}

.player-board {
  color: white;
}
.player-board .player-name a {
  color: white !important;
}
.player-board.spectator-mode * {
  background: white !important;
}

.end-game-points {
  font-size: 80%;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .icon {
  margin-right: 5px;
}

.player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.player-table {
  width: 650px;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  border-radius: 15px;
}
.player-table .name-wrapper {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.6666666667);
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.player-table .name-wrapper .name {
  font-size: 20pt;
  font-weight: bold;
}
.player-table .operations {
  display: flex;
  flex-wrap: wrap;
}
.player-table .circles {
  display: flex;
  flex-wrap: wrap;
}
.player-table .circles .circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.player-table .circles .circle.ghost {
  opacity: 0.6;
  cursor: pointer;
}

#lumen-help-button {
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #1f3067;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #lumen-help-button {
    bottom: 5px;
  }
}
#popin_lumenHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_lumenHelpDialog {
  background: white;
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  color: #63c5cf;
  font-size: 18px;
  margin: 8px 0;
}
#help-popin .help-section {
  color: white;
  background-color: #63c5cf;
  border-radius: 8px;
  padding: 5px;
  margin: 3px 0;
  display: flex;
}
#help-popin .help-section > div:not(:first-child) {
  margin-left: 5px;
}
#help-popin .help-section > div:not(:first-child):not([id]) {
  flex: 1;
  margin-left: 5px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
}

@font-face {
  font-family: "Dice";
  src: url("img/Sketch_Block.ttf");
}
.operation-icon {
  background: url("img/operations.png");
  background-size: auto 100%;
  vertical-align: middle;
  display: inline-block;
}
.operation-icon[data-type="1"] {
  background-position-x: 0%;
  background-position-y: 0%;
}
.operation-icon[data-type="2"] {
  background-position-x: 25%;
  background-position-y: 0%;
}
.operation-icon[data-type="3"] {
  background-position-x: 50%;
  background-position-y: 0%;
}
.operation-icon[data-type="4"] {
  background-position-x: 75%;
  background-position-y: 0%;
}
.operation-icon[data-type="5"] {
  background-position-x: 100%;
  background-position-y: 0%;
}

#page-title .action-button .operation-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  position: relative;
  transform-origin: left top;
}
#zoom-wrapper #full-table #centered-table {
  display: flex;
  justify-content: center;
}
#zoom-wrapper #full-table #tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
#zoom-wrapper #full-table #tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1165px) {
  #tables-and-center {
    flex-wrap: wrap;
  }
}
.die-icon {
  background-size: auto 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: "Dice";
}
.die-icon[data-color=white] {
  background: white;
  color: #212322;
}
.die-icon[data-color=black] {
  background: #212322;
  color: white;
}

.log .die-icon, .gamelogreview .die-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
  font-size: 16pt;
}
.log .operation-icon, .gamelogreview .operation-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
