.dices {
  width: 340px;
  height: 120px;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
}

.die {
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 100% 0%;
}

.dice {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-right: 40px;
  transform-style: preserve-3d;
  transform: translateZ(40px);
}

.cube {
  width: 100%;
  height: 100%;
  top: 20px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-family: "Dice";
  text-align: center;
  font-size: 70px;
  line-height: 80px;
  user-select: none;
}

.white .side {
  background: #FFFFFF;
  box-shadow: inset 0 0 15px #EEEEEE;
  color: #212322;
}

.black .side {
  background: #212322;
  box-shadow: inset 0 0 15px #111111;
  color: #FFFFFF;
}

.dice .side0, .dice .side6 {
  transform: translateZ(40px);
}

.dice .side1 {
  transform: rotateX(-180deg) rotateZ(180deg) translateZ(40px);
}

.dice .side2 {
  transform: rotateY(90deg) translateZ(40px);
}

.dice .side5 {
  transform: rotateY(-90deg) translateZ(40px);
}

.dice .side3 {
  transform: rotateX(90deg) rotateZ(180deg) translateZ(40px);
}

.dice .side4 {
  transform: rotateX(-90deg) rotateZ(180deg) translateZ(40px);
}

.show6, .show0 {
  transform: rotateY(0deg);
}

.show1 {
  transform: rotateY(-180deg);
}

.show2 {
  transform: rotateY(-90deg);
}

.show3 {
  transform: rotateX(-90deg) rotateY(180deg);
}

.show4 {
  transform: rotateX(90deg) rotateY(180deg);
}

.show5 {
  transform: rotateY(90deg);
}

@keyframes spin {
  0% {
    transform: translate3d(0, 0, 40px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  13% {
    transform: translate3d(-5px, 100px, 200px) rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  26% {
    transform: translate3d(5px, 150px, 100px) rotateX(230deg) rotateY(270deg) rotateZ(180deg);
  }
  39% {
    transform: translate3d(-5px, 300px, 200px) rotateX(140deg) rotateY(100deg) rotateZ(90deg);
  }
  50% {
    transform: translate3d(0px, 400px, 40px);
  }
  80% {
    transform: translate3d(0px, 400px, 40px);
  }
  100% {
    transform: translate3d(0, 0, 40px);
  }
}
@keyframes spin2 {
  0% {
    transform: translate3d(0, 0, 40px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  13% {
    transform: translate3d(10px, 100px, 200px) rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  26% {
    transform: translate3d(20px, 150px, 100px) rotateX(230deg) rotateY(270deg) rotateZ(180deg);
  }
  39% {
    transform: translate3d(40px, 300px, 200px) rotateX(140deg) rotateY(100deg) rotateZ(90deg);
  }
  50% {
    transform: translate3d(10px, 300px, 40px);
  }
  80% {
    transform: translate3d(10px, 300px, 40px);
  }
  100% {
    transform: translate3d(0, 0, 40px);
  }
}
@keyframes spin3 {
  0% {
    transform: translate3d(0, 0, 40px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  13% {
    transform: translate3d(10px, 80px, 200px) rotateX(180deg) rotateY(180deg) rotateZ(100deg);
  }
  26% {
    transform: translate3d(20px, 150px, 100px) rotateX(100deg) rotateY(120deg) rotateZ(180deg);
  }
  39% {
    transform: translate3d(40px, 300px, 200px) rotateX(270deg) rotateY(100deg) rotateZ(190deg);
  }
  50% {
    transform: translate3d(30px, 480px, 40px);
  }
  80% {
    transform: translate3d(30px, 480px, 40px);
  }
  100% {
    transform: translate3d(0, 0, 40px);
  }
}
@keyframes spin4 {
  0% {
    transform: translate3d(0, 0, 40px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  13% {
    transform: translate3d(10px, 100px, 200px) rotateX(280deg) rotateY(180deg) rotateZ(90deg);
  }
  26% {
    transform: translate3d(20px, 150px, 100px) rotateX(300deg) rotateY(240deg) rotateZ(120deg);
  }
  39% {
    transform: translate3d(40px, 200px, 200px) rotateX(120deg) rotateY(90deg) rotateZ(190deg);
  }
  50% {
    transform: translate3d(20px, 200px, 40px);
  }
  80% {
    transform: translate3d(20px, 200px, 40px);
  }
  100% {
    transform: translate3d(0, 0, 40px);
  }
}
.roll0 {
  -webkit-animation: spin 2s;
  animation: spin 2s;
  animation-timing-function: ease-in, linear, ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.roll1 {
  -webkit-animation: spin2 2s;
  animation: spin2 2s;
  animation-timing-function: ease-in, linear, ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.roll2 {
  -webkit-animation: spin3 2s;
  animation: spin3 2s;
  animation-timing-function: ease-in, linear, ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.roll3 {
  -webkit-animation: spin4 2s;
  animation: spin4 2s;
  animation-timing-function: ease-in, linear, ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*
 * Colors
 */
.card {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 208px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}
.card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.card .card-sides .card-side.front {
  background-size: auto 600%;
  background-image: url("img/cards.jpg");
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  background-size: auto 100%;
  background-image: url("img/card-back.jpg");
  transform: rotateY(180deg);
}
.card.selectable:not(.disabled) {
  cursor: pointer;
}
.card.selectable:not(.disabled):not(.selected) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.card.selectable:not(.disabled) .card-side {
  box-shadow: unset;
}
.card.selected:not(.disabled) {
  box-shadow: 0 0 5px 8px orange;
}
.card.selected:not(.disabled) .card-side {
  box-shadow: unset;
}
.card[data-category="1"] .front {
  background-position-x: 0%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="1"][data-index="1"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="2"][data-index="1"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="4"][data-index="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 0%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="1"][data-index="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="2"][data-index="1"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="3"][data-index="1"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="2"][data-color="4"][data-index="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="1"][data-index="1"] .front {
  background-position-x: 100%;
  background-position-y: 20%;
}
.card[data-category="2"][data-family="3"][data-color="2"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="3"][data-index="1"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="4"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="3"][data-color="5"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="1"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="2"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="3"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="4"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="4"][data-color="8"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 40%;
}
.card[data-category="2"][data-family="5"][data-color="1"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="2"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="3"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="5"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 60%;
}
.card[data-category="2"][data-family="5"][data-color="6"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="1"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="2"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="3"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="4"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="5"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 60%;
}
.card[data-category="3"][data-family="1"][data-color="7"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="2"][data-index="0"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="4"][data-index="0"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="5"][data-index="0"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="6"][data-index="0"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="2"][data-color="7"][data-index="0"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="6"][data-index="0"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="8"][data-index="0"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="3"][data-color="9"][data-index="0"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="4"][data-color="9"][data-index="0"] .front {
  background-position-x: 100%;
  background-position-y: 80%;
}
.card[data-category="3"][data-family="4"][data-color="10"][data-index="0"] .front {
  background-position-x: 0%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="2"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="3"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}
.card[data-category="4"][data-family="4"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 5px 3px #FFFFFF;
  }
}
#table-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #1f3067;
  padding: 5px;
  border-radius: 15px;
  background: rgba(31, 48, 103, 0.4);
  min-width: 505px;
}

.player-board {
  color: white;
}
.player-board .player-name a {
  color: white !important;
}
.player-board.spectator-mode * {
  background: white !important;
}

.first-player-token-wrapper {
  position: relative;
}

#first-player-token {
  background: url("img/first-player.png");
  width: 281px;
  height: 161px;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .icon {
  margin-right: 5px;
}

.player-table {
  width: 650px;
  height: 300px;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  border-radius: 15px;
}
.player-table .name-wrapper {
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.6666666667);
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.player-table .name-wrapper .name {
  font-size: 20pt;
  font-weight: bold;
}
.player-table .operations {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 800px;
  top: 50px;
}
.player-table .operations .operation-number {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.player-table .operations .operation-number[data-operation="1"] {
  top: 0px;
}
.player-table .operations .operation-number[data-operation="2"] {
  top: 20px;
}
.player-table .operations .operation-number[data-operation="3"] {
  top: 40px;
}
.player-table .operations .operation-number[data-operation="4"] {
  top: 60px;
}
.player-table .operations .operation-number[data-operation="5"] {
  top: 80px;
}
.player-table .operations .operation-number[data-number="1"] {
  left: 0px;
}
.player-table .operations .operation-number[data-number="2"] {
  left: 20px;
}
.player-table .operations .operation-number[data-number="3"] {
  left: 40px;
}
.player-table .operations .operation-number[data-number="4"] {
  left: 60px;
}
.player-table .operations .operation-number img {
  transform: scale(0.2);
}
.player-table .operations .operation-number.ghost {
  opacity: 0.2;
  cursor: pointer;
}
.player-table .circles {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 300px;
  top: 50px;
  width: 500px;
}
.player-table .circles .circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-family: "Messy";
  font-size: 70px;
}
.player-table .circles .circle.ghost {
  opacity: 0.2;
  cursor: pointer;
}
.player-table .circles .circle[data-zone="0"] {
  background-color: rgba(128, 255, 128, 0.4);
}
.player-table .circles .circle[data-zone="1"] {
  background-color: rgba(255, 255, 128, 0.4);
}
.player-table .circles .circle[data-zone="2"] {
  background-color: rgba(255, 128, 255, 0.4);
}
.player-table .circles .circle[data-zone="3"] {
  background-color: rgba(128, 255, 255, 0.4);
}
.player-table .circles .circle[data-zone="4"] {
  background-color: rgba(255, 255, 0, 0.4);
}
.player-table .circles .circle[data-zone="5"] {
  background-color: rgba(255, 0, 255, 0.4);
}
.player-table .circles .circle[data-zone="6"] {
  background-color: rgba(0, 255, 255, 0.4);
}
.player-table .circles .circle[data-zone="7"] {
  background-color: rgba(0, 255, 128, 0.4);
}
.player-table .circles .circle[data-zone="8"] {
  background-color: rgba(255, 0, 128, 0.4);
}

html[data-filling-pattern=true] .circle[data-zone="0"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="1"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="2"] {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="3"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="4"] {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="5"] {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="6"] {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="7"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="8"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="9"] {
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="10"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="11"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="12"] {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="13"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="14"] {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="15"] {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="16"] {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="17"] {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="18"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.43'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-filling-pattern=true] .circle[data-zone="19"] {
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#lumen-help-button {
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #1f3067;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #lumen-help-button {
    bottom: 5px;
  }
}
#popin_lumenHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_lumenHelpDialog {
  background: white;
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  color: #63c5cf;
  font-size: 18px;
  margin: 8px 0;
}
#help-popin .help-section {
  color: white;
  background-color: #63c5cf;
  border-radius: 8px;
  padding: 5px;
  margin: 3px 0;
  display: flex;
}
#help-popin .help-section > div:not(:first-child) {
  margin-left: 5px;
}
#help-popin .help-section > div:not(:first-child):not([id]) {
  flex: 1;
  margin-left: 5px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
}

@font-face {
  font-family: "Dice";
  src: url("img/Sketch_Block.ttf");
}
@font-face {
  font-family: "Messy";
  src: url("img/KGLifeisMessy.ttf");
}
.operation-icon {
  background: url("img/operations.png");
  background-size: auto 100%;
  vertical-align: middle;
  display: inline-block;
}
.operation-icon[data-type="1"] {
  background-position-x: 0%;
  background-position-y: 0%;
}
.operation-icon[data-type="2"] {
  background-position-x: 25%;
  background-position-y: 0%;
}
.operation-icon[data-type="3"] {
  background-position-x: 50%;
  background-position-y: 0%;
}
.operation-icon[data-type="4"] {
  background-position-x: 75%;
  background-position-y: 0%;
}
.operation-icon[data-type="5"] {
  background-position-x: 100%;
  background-position-y: 0%;
}

#page-title .action-button .operation-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#page-title #pagemaintitletext .subtitle {
  color: gray;
  font-size: 80%;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  position: relative;
  transform-origin: left top;
}
#zoom-wrapper #full-table #centered-table {
  display: flex;
  justify-content: center;
}
#zoom-wrapper #full-table #tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
#zoom-wrapper #full-table #tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1165px) {
  #tables-and-center {
    flex-wrap: wrap;
  }
}
.die-icon {
  background-size: auto 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: "Dice";
}
.die-icon[data-color=white] {
  background: #FFFFFF;
  color: #212322;
}
.die-icon[data-color=black] {
  background: #212322;
  color: #FFFFFF;
}

.log .die-icon, .gamelogreview .die-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
  font-size: 16pt;
}
.log .operation-icon, .gamelogreview .operation-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
