.card.discover-tile {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 40%;

    .card-sides {
        .card-side {
            box-shadow: none;
            background: url('img/discover-tiles.png');
            background-size: auto 100%;

            border-radius: 40%;

            &.front {
                @for $index from 3 through 5 {
                    &[data-type="1"][data-sub-type="#{$index}"] {
                        background-position-x: #{($index - 2) * 12.5%};
                    }
                }
                @for $index from 1 through 5 {
                    &[data-type="2"][data-sub-type="#{$index}"] {
                        background-position-x: #{($index + 3) * 12.5%};
                    }
                }

                &>* {
                    pointer-events: none;
                    user-select: none;
                }
            } 
            
            &.back {    
                background-position-x: 0;
            }
        }
    } 
}