.player-table {
  width: 650px;
  position: relative;
  background: #FFFFFF66;
  border: 2px solid white;
  border-radius: 15px;

  .name-wrapper {
    position: relative;
    display: flex;
    background: #FFFFFFAA;
    padding: 5px;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 20pt;
      font-weight: bold;
    }
  }

  .operations {
    display: flex;
    flex-wrap: wrap;

    .operation-number {
      position: relative;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;

      &.ghost {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  .circles {
    display: flex;
    flex-wrap: wrap;

    .circle {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;

      &.ghost {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

}