

.player-board {
  color: white;

  .player-name {
    a {
      color: white !important;
    }
  }

  &.spectator-mode {
    * {
      background: white !important;
    }
  }
}

.first-player-token-wrapper {
  position: relative;
}

#first-player-token {
  background: url('img/first-player.png');
  width: 281px;
  height: 161px;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;

  .icon {
    margin-right: 5px;
  }
}