.player-table {
  width: 650px;
  position: relative;
  background: #FFFFFF66;
  border: 2px solid white;
  border-radius: 15px;

  .name-wrapper {
    position: relative;
    display: flex;
    background: #FFFFFFAA;
    padding: 5px;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 20pt;
      font-weight: bold;
    }
  }

  .cards {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 218px;
  }
}