

.player-board {
  &:not(#spectatorbox) {
    color: white;
  }

  .player-name {
    a {
      color: white !important;
    }
  }

  &.spectator-mode {
    * {
      background: white !important;
    }
  }

  &#overall_player_board_0 {
    background: url('img/description-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .hidden-score {
    font-size: 80%;
  }

  .counters {
    background: url('img/description-background.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 5px #a79572, 2px 2px 4px 0px #00000066;
    color: black;
    margin: 2px;

    .counters-title {
      //font-family: "URW Bernhard Gothic W01 Ultra", sans-serif;
      font-weight: bold;
      text-align: center;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    .first-player-token-wrapper {
      position: relative;
    }
  
    .bag {
      width: 46px;
      height: 50px;
      margin: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('img/bag-neutral.png');
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 1px black, 0 0 2px black;
    
      &[data-color="f28700"] {
        background-image: url('img/bag-day.png');
      }
      &[data-color="1f3067"] {
        background-image: url('img/bag-night.png');
      }
    }
  }
  
  /*.counters {
    display: flex;
    align-items: center;
    margin: 5px 0;
  
    .icon {
      margin-right: 5px;
    }
  }*/
}
  
.first-player-token {
  background-image: url('img/first-player.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 54px;
  height: 30px;
}



.counters-wrapper {
  display: flex;
  align-items: center;

  .counter-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3px;
    font-weight: bold;
  
    &[data-hidden="true"] {
      display: none;
    }
  }
}

#score-territories {
  .counters-wrapper {
    .counter-wrapper {
      font-weight: normal;
    }
  }
}