

.player-board {
  color: white;

  .player-name {
    a {
      color: white !important;
    }
  }

  &.spectator-mode {
    * {
      background: white !important;
    }
  }

  &#overall_player_board_0 {
    background: url('img/description-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .card-stock {
    .objective-token:not(:first-child), .discover-tile:not(:first-child) {
        margin-left: -52px;
    }
  }
}

.first-player-token-wrapper {
  position: relative;
}

.first-player-token {
  background: url('img/first-player.png');
  width: 54px;
  height: 31px;
}

/*.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;

  .icon {
    margin-right: 5px;
  }
}*/

.bag {
  width: 74px;
  height: 80px;
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url('img/bag-neutral.png');
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 1px black, 0 0 2px black;

  &[data-color="f28700"] {
    background-image: url('img/bag-day.png');
  }
  &[data-color="1f3067"] {
    background-image: url('img/bag-night.png');
  }
}