@import 'dice';
@import 'cards';
@import 'discover-tiles';
@import '../node_modules/bga-cards/bga-cards';
@import 'table-center';
@import 'playerboards';
@import 'player-table';
@import 'help';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg');
}

@font-face {
 font-family: 'Dice';
 src: url('img/Sketch_Block.ttf');
}

@font-face {
 font-family: "Messy";
 src: url("img/KGLifeisMessy.ttf")
}

.operation-icon {
  background: url('img/operations.png');
  background-size: auto 100%;
  vertical-align: middle;
  display: inline-block;

  @for $index from 1 through 5 {
    &[data-type="#{$index}"] {
        background-position-x: #{($index - 1) * 25%};
        background-position-y: 0%;
    }
  }
}

#page-title {
  .action-button {
    .operation-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .die-icon {
      width: 40px;
      height: 40px;
      font-size: 26pt;
    }
  }

  #pagemaintitletext {
    .subtitle {
      color: gray;
      font-size: 80%;
    }
  }
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #full-table {
    position: relative;
    transform-origin: left top;

    #centered-table {
      display: flex;
      justify-content: center;
    }

    #tables-and-center {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 20px;

      #tables {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1165px) { 
  #tables-and-center {
    flex-wrap: wrap;
  }
}

.die-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: 'Dice';

  &[data-color="white"] {
    background: $dieWhite;
    color: $dieBlack;
  }
  &[data-color="black"] {
    background: $dieBlack;
    color: $dieWhite;
  }
}

.log, .gamelogreview {
  .die-icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16pt;
  }

  .operation-icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.objective-token {
  background: url('img/objective-tokens.png');
  background-size: auto 100%;
  background-position-x: 0%;
  vertical-align: middle;
  display: inline-block;
  width: 101px;
  height: 113px;

  @for $index from 3 through 5 {
    &[data-type="#{$index}"] {
        background-position-x: #{($index - 2) * 33.333%};
        background-position-y: 0%;
    }
  }
}

#scenario-objectives {
  .objective-description-token {
    position: relative;
    background: url('img/objective-tokens.png');
    background-size: auto 100%;
    background-position-x: 0%;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 44px;
    font-weight: bold;
    font-size: 2rem;
    color: #fff100;

    .number {
      position: absolute;
      right: 0;
      bottom: -4px;
      font-weight: bold;
      font-size: 1rem;
      color: #ec212a;
    }
  }
}