#table-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 2px solid #1f3067;
    padding: 5px; 
    border-radius: 15px;
    background: #1f306766;
    min-width: 505px;
}

#map {
    position: relative;

    #river {
        position: absolute;
        top: 433px;
        left: 412px;
        width: 837px;
        height: 838px;
        background: url('img/river.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .battlefield {
        position: absolute;
        width: 423px;
        height: 708px;
        transform-origin: center center;
        transform: translate(var(--x), var(--y)) rotate(var(--rotation));

        .background {
            position: absolute;
            width: 423px;
            height: 708px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        @for $index from 1 through 7 {
            &[data-id="#{$index}"] .background {
                background-image: url('img/battlefield#{$index}.png');
            }
        }

        .territory {
            position: absolute;
            transform-origin: center center;
            transform: rotate(calc(var(--rotation) * -1));
            left: var(--x);
            top: var(--y);
            width: var(--width);
            height: var(--height);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            z-index: 2;

            &[data-vertical="true"] {
                flex-direction: column;
            }

            // TODO TEMP
            /*&[data-lumens="1"] {
                background: #FFFFFF88;
            }
            &[data-lumens="3"], &[data-lumens="4"] {
                background: #FF000088;
            }
            &[data-lumens="5"] {
                background: #00FF0088;
            }*/

            &.selectable {
                box-shadow: 0 0 5px 3px white;
            }
        
            &.selected {
                box-shadow: 0 0 8px 8px red;
            }
        }
    }

    .objective-token {
        position: absolute;

        &.token-with-letter {
            font-size: 5rem;
        }
    }

    #initiative-marker {
        background: url('img/initiative-marker.png');
        width: 57px;
        height: 60px;
    }

    #fighter-choice {
        position: absolute;
        background: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        gap: 10px;
        bottom: -30px;
        width: 200px;
        height: 30px;
        left: -60px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px #00000066;
        z-index: 20;

        button {
            background: white;
            height: 30px;
        }
    }
}
