#table-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 2px solid #1f3067;
    padding: 5px; 
    border-radius: 15px;
    background: #1f306766;
    min-width: 505px;
}

#map {
    position: relative;

    #river {
        position: absolute;
        top: 433px;
        left: 412px;
        width: 837px;
        height: 838px;
        background-image: url('img/river.svg');
        background-size: contain;
        background-repeat: no-repeat;        

        &.selectable {
            animation: selectable-river-animation 1s alternate infinite ease-in-out;
            cursor: pointer;
        }
    }

    .battlefield, .battlefield-background {
        position: absolute;
        width: 423px;
        height: 708px;
        transform-origin: center center;
        transform: translate(var(--x), var(--y)) rotate(var(--rotation));
        pointer-events: none;
    }

    .battlefield-background {
        background-position: center center;
        background-repeat: no-repeat;

        @for $index from 1 through 7 {
            &[data-id="#{$index}"] {
                background-image: url('img/battlefield#{$index}.png');
            }
        }
    }

    .battlefield {
        z-index: 2;

        &.temp-z-index {
            z-index: 3;
        }
        
        .territory {
            position: absolute;
            transform-origin: center center;
            transform: rotate(calc(var(--rotation) * -1));
            left: var(--x);
            top: var(--y);
            width: var(--width);
            height: var(--height);
            /*display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;*/
            z-index: 2;

            .card, #initiative-marker {
                pointer-events: all;
            }

            &[data-vertical="true"] {
                flex-direction: column;
            }

            .territory-stock {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;

                > * {
                    transition: left 0.5s, top 0.5s;
                }
            }

            .discover-tile-stock {
                position: absolute;
            }
            
            canvas {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
            }
        }

        .territory-mask {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            pointer-events: all;

            &.selectable {
                animation: selectable-territory-animation 1s alternate infinite ease-in-out;
                cursor: pointer;
            }

            &.highlight {
                animation: selectable-territory-animation 1s alternate 2 ease-in-out;
            }

            &[data-id="11"] {
                clip-path: polygon(43% 2%, 30% 5%, 21% 1%, 9% 1%, 6% 7%, 17% 18%, 29% 35%, 33% 36%, 44% 36%, 64% 42%, 67% 43%, 82% 25%, 80% 23%, 79% 20%, 74% 19%, 55% 24%, 47% 24%, 41% 21%, 42% 15%, 48% 9%, 47% 5%);
            }
            &[data-id="15"] {
                clip-path: polygon(82% 25%, 94% 27%, 93% 31%, 98% 40%, 94% 55%, 100% 67%, 94% 71%, 91% 77%, 87% 78%, 77% 78%, 70% 81%, 66% 96%, 59% 99%, 50% 97%, 41% 90%, 20% 79%, 36% 67%, 49% 62%, 53% 55%, 49% 51%, 25% 49%, 17% 46%, 17% 41%, 17% 36%, 9% 34%, 0% 32%, 2% 29%, 4% 25%, 11% 23%, 17% 20%, 26% 33%, 33% 36%, 44% 36%, 65% 43%, 69% 42%);
            }
            &[data-id="27"] {
                clip-path: polygon(43% 2%, 31% 5%, 25% 4%, 13% 1%, 6% 4%, 8% 10%, 16% 18%, 15% 22%, 5% 24%, 1% 31%, 4% 34%, 14% 35%, 18% 38%, 17% 45%, 25% 49%, 48% 51%, 53% 56%, 49% 62%, 39% 66%, 20% 80%, 40% 89%, 51% 98%, 58% 100%, 65% 98%, 69% 84%, 76% 77%, 88% 78%, 93% 77%, 94% 71%, 100% 67%, 94% 56%, 98% 41%, 93% 31%, 93% 28%, 83% 26%, 80% 24%, 78% 19%, 73% 19%, 55% 24%, 47% 24%, 41% 20%, 41% 14%, 49% 9%);
            }
            &[data-id="31"] {
                clip-path: polygon(20% 80%, 42% 91%, 54% 99%, 65% 98%, 72% 80%, 77% 78%, 88% 78%, 92% 77%, 94% 71%, 99% 68%, 99% 65%, 94% 56%, 95% 50%, 75% 47%, 66% 48%, 58% 53%, 53% 54%, 53% 58%, 48% 63%, 36% 67%, 28% 73%);
            }
            &[data-id="33"] {
                clip-path: polygon(43% 2%, 30% 5%, 30% 5%, 23% 3%, 23% 3%, 14% 1%, 14% 1%, 6% 5%, 6% 5%, 16% 18%, 16% 18%, 16% 22%, 16% 22%, 5% 24%, 5% 24%, 3% 26%, 3% 26%, 1% 31%, 1% 31%, 7% 34%, 7% 35%, 17% 36%, 17% 36%, 18% 39%, 18% 39%, 17% 44%, 17% 44%, 20% 48%, 20% 48%, 46% 51%, 46% 51%, 52% 54%, 52% 54%, 58% 53%, 58% 53%, 67% 48%, 67% 48%, 76% 47%, 76% 47%, 95% 50%, 95% 52%, 98% 41%, 98% 41%, 93% 27%, 93% 27%, 82% 26%, 82% 26%, 80% 23%, 80% 23%, 76% 18%, 76% 18%, 52% 25%, 52% 25%, 43% 22%, 43% 22%, 41% 16%, 41% 16%, 48% 9%, 48% 9%);
            }
            &[data-id="41"] {
                clip-path: polygon(54% 24%, 74% 18%, 74% 18%, 81% 24%, 81% 24%, 93% 27%, 93% 27%, 98% 40%, 98% 40%, 95% 53%, 95% 53%, 99% 69%, 99% 69%, 89% 78%, 89% 78%, 79% 78%, 79% 78%, 70% 51%, 70% 52%, 71% 41%, 71% 41%);
            }
            &[data-id="45"] {
                clip-path: polygon(43% 1%, 30% 4%, 20% 1%, 11% 1%, 5% 6%, 16% 19%, 14% 22%, 7% 23%, 3% 26%, 0% 32%, 8% 34%, 17% 37%, 16% 43%, 21% 48%, 46% 51%, 52% 54%, 51% 60%, 43% 65%, 22% 76%, 21% 79%, 52% 99%, 64% 98%, 69% 84%, 76% 78%, 88% 78%, 77% 72%, 73% 63%, 70% 45%, 71% 41%, 56% 29%, 53% 24%, 43% 22%, 41% 17%, 48% 10%, 46% 5%);
            }
            &[data-id="51"] {
                clip-path: polygon(43% 2%, 30% 5%, 24% 4%, 16% 1%, 7% 3%, 6% 7%, 16% 17%, 16% 21%, 5% 24%, 2% 29%, 1% 32%, 12% 34%, 17% 37%, 16% 44%, 19% 47%, 46% 50%, 52% 53%, 62% 38%, 58% 31%, 55% 27%, 54% 25%, 44% 23%, 41% 19%, 43% 14%, 48% 9%);
            }
            &[data-id="53"] {
                clip-path: polygon(54% 24%, 60% 23%, 74% 19%, 78% 20%, 81% 25%, 93% 27%, 94% 32%, 98% 41%, 94% 57%, 89% 57%, 74% 54%, 59% 55%, 53% 55%, 62% 38%, 62% 35%, 54% 28%);
            }
            &[data-id="54"] {
                clip-path: polygon(54% 55%, 59% 55%, 74% 54%, 89% 57%, 94% 57%, 99% 64%, 99% 68%, 94% 72%, 92% 77%, 88% 78%, 79% 77%, 73% 79%, 69% 84%, 66% 95%, 61% 99%, 51% 98%, 39% 88%, 20% 80%, 35% 68%, 48% 63%, 52% 60%);
            }
            &[data-id="61"] {
                clip-path: polygon(70% 81%, 66% 95%, 61% 99%, 51% 98%, 39% 88%, 20% 80%, 33% 69%, 52% 60%, 63% 62%, 70% 64%, 67% 72%);
            }
            &[data-id="63"] {
                clip-path: polygon(53% 25%, 38% 37%, 38% 37%, 19% 34%, 19% 34%, 14% 35%, 14% 35%, 1% 32%, 1% 32%, 4% 24%, 4% 24%, 13% 23%, 13% 23%, 17% 20%, 17% 20%, 6% 7%, 6% 7%, 8% 2%, 8% 2%, 16% 1%, 16% 1%, 21% 1%, 21% 1%, 29% 5%, 29% 5%, 43% 2%, 43% 2%, 48% 8%, 48% 8%, 47% 12%, 47% 12%, 41% 16%, 41% 16%, 42% 21%, 42% 21%, 46% 24%, 46% 24%);
            }
            &[data-id="65"] {
                clip-path: polygon(37% 37%, 18% 34%, 14% 34%, 18% 38%, 16% 44%, 18% 47%, 28% 49%, 46% 50%, 52% 54%, 53% 57%, 51% 60%, 61% 61%, 70% 64%, 68% 72%, 70% 81%, 77% 78%, 88% 78%, 92% 76%, 95% 71%, 99% 68%, 98% 62%, 95% 55%, 98% 41%, 93% 31%, 93% 27%, 82% 25%, 80% 23%, 78% 19%, 72% 19%, 63% 22%, 47% 33%, 38% 37%);
            }
            &[data-id="71"] {
                clip-path: polygon(20% 80%, 42% 91%, 47% 87%, 48% 78%, 55% 71%, 79% 59%, 79% 57%, 74% 50%, 70% 50%, 61% 48%, 57% 49%, 55% 56%, 53% 57%, 50% 61%, 41% 66%, 28% 72%);
            }
            &[data-id="73"] {
                clip-path: polygon(30% 5%, 31% 10%, 29% 20%, 41% 39%, 63% 38%, 72% 40%, 74% 50%, 69% 50%, 58% 49%, 54% 56%, 48% 51%, 23% 48%, 17% 45%, 18% 39%, 16% 35%, 5% 33%, 1% 32%, 4% 25%, 13% 23%, 17% 20%, 7% 8%, 8% 2%, 16% 1%, 23% 3%);
            }
            &[data-id="75"] {
                clip-path: polygon(30% 5%, 31% 10%, 29% 21%, 41% 39%, 64% 38%, 71% 40%, 76% 53%, 79% 58%, 78% 60%, 53% 73%, 48% 79%, 46% 88%, 43% 92%, 50% 97%, 58% 99%, 65% 97%, 70% 81%, 77% 77%, 87% 78%, 93% 76%, 95% 70%, 99% 68%, 98% 62%, 94% 56%, 98% 40%, 93% 31%, 93% 27%, 83% 26%, 80% 24%, 78% 19%, 73% 18%, 56% 24%, 48% 24%, 42% 21%, 43% 14%, 48% 10%, 43% 2%);
            }
        }
    }

    .objective-token {
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 101px;
        height: 113px;
        background: url('img/objective-tokens.png');
        background-size: auto 100%;
        background-position-x: 0%;
        position: absolute;

        &.token-with-letter {
            font-size: 5rem;
        }
    }

    #initiative-marker {
        position: absolute;
        background: url('img/initiative-marker.png');
        width: 100px;
        height: 100px;
    }

    #fighter-choice {
        position: absolute;
        background: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        gap: 10px;
        bottom: -30px;
        width: 200px;
        height: 30px;
        left: -60px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px #00000066;
        z-index: 20;
        transform: scale(calc(1 / var(--cumulative-scale)));

        button {
            background: white;
            height: 30px;
            cursor: pointer;
            font-size: 120%;

            &[disabled] {
                cursor: not-allowed;
            }
        }
    }
}


@keyframes selectable-territory-animation {
    0% { 
        background: rgba(255, 255, 255, 0);
    }
    100% { 
        background: rgba(255, 255, 255, 0.7);
    }
}

@keyframes selectable-river-animation {
    0% { 
        filter: none;
    }
    100% { 
        filter: brightness(2);
    }
}